.radio{
    height: 95vmin;
    width: 95vmin;
    background-image: url(https://pisces.bbystatic.com/image2/BestBuy_US/images/products/6347/6347179_sd.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}