<h1>See all the Pokemon!</h1>
<div style = "color: rgb(255, 0, 0); border: solid black; background-color: rgb(0, 0, 0);">See all the Pokemon!</div>
<ul>
    <% pokemon.forEach((mon)=> { %>
        <li>
            <h2>  <%= mon.name.charAt(0).toUpperCase() + mon.name.slice(1)%>  </h2>
        </li>
    <% }) %>
</ul>


